{% extends "web/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="section">
		<div class="row">
			<div class="col s12 m7">
				<div class="card-panel hoverable teal lighten-2">
					<h3 class="white-text">Aca iria un titulo</h3>
					<p class="white-text">{%lorem%}</p>
					<p class="white-text">{%lorem%}</p>
				</div>
			</div>
			<div class="white col s12 m5">
				<div class="card grey lighten-2">
					<form id='form'>
						{% csrf_token %}
						<div class="card-content">
							<span class="card-title">Ejecutar algoritmo</span>
							<p class="range-field">
								<label for="minconf" style="color:black;">Confianza m&iacute;nima</label>
								<input class="validate" name="minconf" type="range" step="0.05" min="0" max="1" value="0.8"/>
							</p>
							<p class="range-field">
								<label for="minsup" style="color:black;">Soporte m&iacute;nimo</label>
								<input class="validate" name="minsup" type="range" step="0.05" min="0" max="1" value="0.3"/>
							</p>
							<div class="file-field input-field">
								<div class="btn">
									<span>DATASET</span>
									<input class="validate" name="filename" type="file" required>
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>
						</div>
						<div class="card-action" style="border-top:1px solid grey;">
							<button class="btn waves-effect waves-light" id='send' type="submit">Ejecutar<i class="material-icons right">send</i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extraScripts %}
	<script type="text/javascript" src="{% static 'web/js/index.js' %}"></script>
{% endblock extraScripts %}